<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <meta name="googlebot" content="noindex">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="/css/admin/headerAdmin.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/listados.css">
</head>

<body>
    <%- include('../partials/admin/headerAdmin.ejs')  %> 
   <div class="container-fluid panel wrap">
        <%- include('./menu.ejs') %>
        <div class="dashboard">
            <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="titulo">
                        <h1>Lisado de clientes</h1>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="buscador">
                    <form action="" method="POST">
                        <label for="busqueda">Buscar por cliente</label>
                        <input type="text" name="busqueda" id="busqueda">
                        <button type="submit">
                            <img src="/images/icons/catalogo/search-solid.png" alt="Buscar cliente" title="Buscar cliente">
                        </button>
                    </form>
                </div>
            </div>
            </div>
            <div class="col-12">
                <div class="clientes">
                    <% for(let cliente of clientes){ %>
                        <div class="item">
                            <h3><%= cliente.razon_social %></h3>
                            <div class="datos">
                                <p><span>Cuenta: </span><%= cliente.numero %></p>
                                <p><span>Dirección: </span><%= cliente.direccion %></p>
                                <p><span>Correo: </span><%= cliente.correo %></p>
                                <p><span>PE: </span><%= cliente.precio_especial %></p>
                                <p><span>Cuit: </span><%= cliente.cuit %></p>
                                <p><span>Teléfono: </span><%= cliente.telefono %></p>
                                <p><span>Descuento: </span><%= cliente.condicion_pago %>%</p>
                                <p><span>Transporte: </span><%= cliente.transporte %></p>
                                <p><span>Localidad: </span><%= cliente.localidad %></p>
                                <p><span>Pcia: </span><%= cliente.provincia %></p>
                                 <% if (cliente.usuario) { %>
                                    <p><span>Usuario: </span><%= cliente.usuario.usuario %></p>
                                    <p><span>Clave: </span><%= cliente.usuario.clave %></p>
                                <% } %>
                            </div>
                        </div>
                    <% } %> 
                </div>
            </div>
            </div>
        </div>
   </div>
</body>

</html>