<!DOCTYPE HTML>
<html>
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main/catalogo/header.css">
    <link rel="stylesheet" href="/css/main/catalogo/catalogo.css">
    <link rel="stylesheet" href="/css/main/catalogo/catalogoQuery.css">
    <link rel="stylesheet" href="/css/main/catalogo/alert.css">
    <script src="/js/headerCatalogo.js"></script>
</head>
<body>
    <section class="contenedor-total wrap">
    <%- include('../../partials/catalogo/header') %>
    <%- include('../../partials/catalogo/panel') %>
    <div class="panel-section body wrap">
        <div class="panel-section buscador wrap">
            <div class="item descripcion wrap">
                <form action="" method="get">
                    <label for="search_parameter">B&uacute;squeda de productos</label>
                    <input type="text" name="search_parameter" id="search_parameter" value=" ">
                    <button type="submit">buscar</button>
                </form>
            </div>
            <div class="item filtros wrap">
               <% if (typeof filtros != 'undefined') { %>
                    <% filtros.forEach(filtro => { %>
                    <div class="filtro">
                        <a href="?delete=<%= filtro %>">X</a>
                        <h3><%= filtro %> </h3>
                    </div>
                    <% }) %>
               <% } %>
               <% if (typeof busqueda != 'undefined') { %>
                    <div class="filtro">
                        <a href="?">X</a>
                        <h3><%= busqueda %> </h3>
                    </div>
               <% } %>
            </div>
        </div>
        <div class="page-section articulos wrap" id="datos">
            <% for (const articulo of articulos) { %>
                <div class="art wrap">
			        <div class="fotoArt">
                        <img src="/images/articulos/<%= articulo.linea_id %>/<%= articulo.codigo.replace('/','-') %>.jpg" alt="<%= articulo.descripcion %>" title="<%= articulo.descripcion %>">
			        </div>
                <h1 id="nombreArt"><%= articulo.descripcion %></h1>
                <p id="modelos"><%= articulo.modelos %></p>
                <p id="oem"><b>OEM:</b><%= articulo.oem %></p>
			    <h3 id="codigo"><b></b><%= articulo.codigo %></h3>
			    <h3 id="precio"><span>$<%= (articulo.precio / 100) %></span></h3>
                <a href="/catalogo/detalle/<%= articulo.id %>">Ver detalle</a>
                <% if (user.tipo == 'cliente') { %> <%# user viene de res.locals %>
                    <a href="?agregar_articulo=<%= articulo.codigo %>">Comprar</a>
                <% } %>
                <div class="badges">
                    <% if (articulo.destacado == 1) { %>
                        <img id="badge" src="/images/icons/catalogo/destacado.png" alt="">
                    <% } %>
                    <% if (articulo.nuevo == 1) { %>
                        <img id="badge" src="/images/icons/catalogo/nuevo.png" alt="">
                    <% } %>
                </div>
            </div>
            <% } %> 
            <div class="pagination">
                <% if (page > 0) { %>
                    <!-- search_params viene de res.locals en filtersHelper -->
                <a href="?<%= search_params %>&page=<%= parseInt(page) - 1 %>">Anterior</a>
                <% } %>
                <% if (articulos.length > 0){ %>
                    <a href="?<%= search_params %>&page=<%= parseInt(page) + 1 %>">Siguiente</a>
                <% } %>
            </div>
         </div>
    </div>
</section>
</body>
</html>