<!DOCTYPE HTML>
<html>
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/css/main/catalogo/header.css">
    <link rel="stylesheet" href="/css/main/catalogo/detalle.css">
    <link rel="stylesheet" href="/css/main/catalogo/detalleQuery.css">
    <link rel="stylesheet" href="/css/main/catalogo/sliderCatalogo.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/js/headerCatalogo.js"></script>
</head>
<body>
    <div class="contenedor-total wrap">
        <!-- HEADER ---------------------------------->
        <%- include('../../partials/catalogo/header') %>
        <!-- HEADER ---------------------------------->
    <section class="page-section detalle contenedor wrap">
        <div class="titulo">
            <h1>Detalle de Art&iacute;culo</h1>
        </div>
        <div class="slider contenedor wrap imagenProd">
        <img id="artdisponible" src="/images/icons/catalogo/disponible.png" alt="">
            <input type="radio" id="sbutton1" name="sradio">
            <label for="sbutton1" style="background:url(/images/articulos/<%=articulo.linea_id%>/<%=articulo.conGuion()%>.jpg); background-size:100% 100%;"></label>
            <ul>
                <li>
                    <div class="imgProdDetalle">
                        <img src="/images/articulos/<%=articulo.linea_id%>/<%= articulo.conGuion()%>.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="contenedor infoProd">
            <h3>Descripci&oacute;n</h3>
            <h1 id="nombreArt"><%= articulo.descripcion %></h1>
            <h3>Caracteristicas</h3>
            <p id="caract"><%= articulo.caracteristicas %></p>
            <h3>Modelos</h3>
            <p id="modelos"><%= articulo.modelos %></p>
            <h3>C&oacute;digo Original</h3>
            <p id="oem"><b>OEM:</b> <%= articulo.oem %></p>
            <h3>C&oacute;digo Altamira</h3>
            <h3 id="codigo"><b></b> <%= articulo.codigo %></h3>
            <div class="contenedor-info wrap">
                <div class="item">
                    <h3 id="precioLista">Precio de lista</h3>
                    <p><b>$<%= articulo.precio %></b></p>
                </div>
                <div class="item">
                    <h3>Envasado por:</h3>
                    <p><b><%= articulo.unidad_min_vta %></b></p>
                </div>
            </div>
            <div class="item wrap">
                <div class="destacado">
                    <img id="artDest" src="/images/icons/catalogo/destacado.png" alt="">
                </div>
            </div>
        </div>
    </section>
</div>
<section class="fondo contenedor-total">
    <div class="page-section footer contenedor wrap">
        <h2 id="tituloFooter">Art&iacute;culos relacionados</h2>
        <div class="artFooter wrap">
            <div class="fotoArt">
                <img id="imgProdFoot" src="/images/articulos/20/2312-0b.jpg" alt="">
            </div>
            <h1 id="nombreArtFoot">DESCRIPCION</h1>
            <p id="modelosFoot">MODELOS</p>
            <p id="oemFoot"><b>OEM:</b> OEM</p>
            <h3 id="codigoFoot"><b></b> CODIGO</h3>
            <h3 id="precioFoot"><span>$PRECIO</span></h3>
            <a id="" class="detLink" rel="" href="../detalle?articulo=ARTICULO">Ver detalle</a>
        </div>
    </div>
</section>
</body>
</html>