<!DOCTYPE HTML>
<html>

<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main/catalogo/header.css">
    <link rel="stylesheet" href="/css/main/catalogo/finalizar.css">
    <link rel="stylesheet" href="/css/main/catalogo/finalizarQuery.css">
    <!-- script al final -->
    <script src="/js/headerCatalogo.js"></script>
</head>

<body>
    <section class="contenedor-total wrap">
        <!-- HEADER -------------------------------------------------->
        <%- include('../../partials/catalogo/header') %>
        <!-- PANEL --------------------------------------------------->
        <div class="container-fluid" style="margin-top: 6%;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="resume header wrap">
                            <h2>Finalizar pedido</h2>
                            <a href="/catalogo/resume">Volver al carrito</a>
                            <p>Estimado cliente, los artículos seleccionados que no posean stock 
                                serán guardados como <strong>pendientes</strong>, podrán ser agregados 
                                a su próximo pedido una vez estén disponibles.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="resume pedido">
                            <div class="cabecera">
                                <ul>
                                    <li>CÓDIGO</li>
                                    <li>DESCRIPCIÓN</li>
                                    <li>UNID. VTA.</li>
                                    <li>CANT</li>
                                    <li>PRECIO</li>
                                    <li>TOTAL</li>
                                </ul>
                            </div>
                            <div class="articulos wrap">
                                <% for(let articulo of cart.articulos){ %>
                                    <% if (articulo.stock >= articulo.min_vta) { %>
                                        <div class="item wrap">
                                            <h2><%= articulo.codigo %></h2>
                                            <h1><%= articulo.descripcion %></h1>
                                            <h3><%= articulo.min_vta %></h3>
                                            <h3><%= articulo.cantidad %></h3>
                                            <p>$<%= articulo.precio / 100 %></p>
                                            <p>$<%= (parseInt(articulo.precio) * parseInt(articulo.cantidad)) / 100 %></p>
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                        <div class="resume header">
                            <h2>Artículos sin stock (Pendientes)</h2>
                        </div>
                        <div class="resume pendientes">
                            <div class="articulos wrap">
                                <% for(let articulo of cart.articulos){ %>
                                    <% if (articulo.stock < articulo.min_vta) { %>
                                        <div class="item wrap">
                                            <h2><%= articulo.codigo %></h2>
                                            <h1><%= articulo.descripcion %></h1>
                                            <h3><%= articulo.cantidad %></h3>
                                            <p>$<%= articulo.precio / 100 %></p>
                                            <p>$<%= (parseInt(articulo.precio) * parseInt(articulo.cantidad)) / 100 %></p>
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
                        <div class="resume detalle">
                            <div class="articulos wrap">
                            <h3>Total de artículos</h3>
                            <h4><%= cart.articulos.filter(art => art.stock >= art.min_vta).length %></h4>
                            </div>
                            <div class="costos wrap">
                                <h2>Costo aproximado</h2>
                                <h3>Precio neto total</h3>
                                <h4 id="precioNeto"><%= cart.values.total %></h4>
                                <h2>Descuentos</h2>
                                <h3>Bonificación <span id="clienteDescuento"><%= cart.values.descuento %></span>%</h3>
                                <h4 id="valueClienteDesc"><%= cart.values.descuento %></h4>
                                <select name="descuentoPago" id="selectDescuento">
                                    <option value="7">Pago a 7 días 20% + 5%</option>
                                    <option value="30">Pago a 30 días 20%</option>
                                    <option value="45">Pago a 45 días 10%</option>
                                    <option value="60">Pago a 60 días NETO</option>
                                </select>
                                <h3 id="labelDescuento">20% + 5%</h3>
                                <h4 id="valueDescuento">$0</h4>
                                <h3>IVA</h3>
                                <h4 id="iva"></h4>
                                <h3>Total de la compra</h3>
                                <h4 id="precioFinal">$0</h4>
                            </div>
                            <div class="opciones wrap">
                                <form action="checkout" method="post">
                                    <textarea name="nota" id="" cols="30" rows="10" placeholder="Escriba en este campo las observaciones de su pedido o si lo quiere por un transporte en específico"></textarea>
                                    <button type="submit" id="checkOut">
                                        Finalizar compra
                                        <img src="/images/icons/catalogo/check-solid.png" alt="">
                                    </button>
                                </form>
                                <!-- <a href="checkout" id="checkOut">
                                    Finalizar compra
                                    <img src="/images/icons/catalogo/check-solid.png" alt="">
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script src="/js/finalizar.js"></script>
</body>

</html>