<!DOCTYPE HTML>
<html>

<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main/catalogo/header.css">
    <link rel="stylesheet" href="/css/main/catalogo/pendientes.css">
    <script src="/js/headerCatalogo.js"></script>
</head>

<body>
    <section class="contenedor-total wrap">
    <!-- HEADER -------------------------------------------------->
    <%- include('../../partials/catalogo/header') %>
    <!-- PANEL --------------------------------------------------->
    <div class="container-fluid" style="margin-top: 6%;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="resume header wrap">
                        <h2>Artículos pendientes</h2>
                        <a href="/catalogo/resume">Volver al pedido</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="resume pedido">
                        <div class="cabecera">
                            <ul>
                                <li>CÓDIGO</li>
                                <li>DESCRIPCIÓN</li>
                                <li>CANT</li>
                                <li>PRECIO</li>
                                <li>TOTAL</li>
                            </ul>
                        </div>
                        <div class="articulos wrap">
                            <% for(let articulo of pendientes){ %>
                                <div class="item wrap <%= (articulo.stock >= articulo.unidad_min_vta && 'disponible') %>">
                                    <div class="imagen">
                                        <img src="/images/articulos/<%= articulo.linea_id %>/<%=articulo.codigo.replace('/','-') %>.jpg" alt="">
                                    </div>
                                    <h2><%= articulo.codigo %></h2>
                                    <h1><%= articulo.descripcion %></h1>
                                    <div class="cantidad wrap">
                                        <h3><%= articulo.pendientes.cantidad %></h3>
                                    </div>
                                    <p>$<%= articulo.precio / 100 %></p>
                                    <p>$<%= (parseInt(articulo.precio) * parseInt(articulo.pendientes.cantidad)) / 100 %></p>
                                    <a href="?pendiente=<%= articulo.codigo %>&cantidad=<%= articulo.pendientes.cantidad %>&action=borrar">
                                        <img src="/images/icons/catalogo/trash-alt-solid.png" alt="Eliminar pendiente" title="Eliminar pendiente">
                                    </a>
                                    <% if (articulo.stock >= articulo.unidad_min_vta) { %>
                                    <a href="?pendiente=<%= articulo.codigo %>&cantidad=<%= articulo.pendientes.cantidad %>&action=agregar">
                                        <img src="/images/icons/catalogo/cart-plus-solid-green.png" alt="Agregar al carro" title="Agregar al carro">
                                    </a>
                                    <% } %>
                                </div>
                            <% } %> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
                    <div class="resume detalle">
                        <div class="articulos wrap">
                            <h3>Artículos pendientes</h3>
                            <h4><%= pendientes.length %></h4>
                            <h3>Artículos disponibles</h3>
                            <h4><%= pendientes.filter(art => art.stock >= art.unidad_min_vta).length %></h4>
                            <h3>Quedan como pendiente</h3>
                            <h4><%= pendientes.filter(art => art.stock < art.unidad_min_vta).length %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>