<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <meta name="googlebot" content="noindex">
    <meta name="robots" content="noindex">

    <link rel="stylesheet" href="/css/headerClientes.css">
    <link rel="stylesheet" href="/css/footerClientes.css">
    <link rel='stylesheet' href='/css/clientes/panel.css'/>
    <link rel='stylesheet' href='/css/viajantes/panel.css'/>
</head>

<body>
    <%- include('../partials/viajantes/headerViajantes') %>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="deuda">
                        <h3><%= viajante.nombre %></h3>
                    </div>
                    <div class="secciones wrap">
                        <div class="item">
                            <a href="/precios/"><img src="/images/secciones/listas.png" alt=""></a>
                            <p>Lista de Precios</p>
                        </div>
                        <div class="item">
                            <a href="/catalogo/"><img src="/images/secciones/catalogo.png" alt=""></a>
                            <p>Cat&aacute;logo Digital</p>
                        </div>
                        <div class="item">
                            <a href="/viajantes/clientes/"><img src="/images/secciones/clientes.png" alt=""></a>
                            <p>Clientes</p>
                        </div>
                        <div class="item">
                            <a href="/viajantes/cobranzas/"><img src="/images/secciones/cobranzas.png" alt=""></a>
                            <p>Cobranzas</p>
                        </div>
                        <div class="item">
                            <a href="/viajantes/seguimientos/"><img src="/images/secciones/seguimiento.png" alt=""></a>
                            <p>Estado de pedido</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid gris">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="facturas wrap">
                        <h3>Facturas vencidas (Más de 30 días)</h3>
                        <div class="wrap">
                            <ul class="wrap">
                                <li>Cliente</li>
                                <li>Factura</li>
                                <li>Monto</li>
                                <li>Fecha</li>
                            </ul>
                        <% for(comp of comprobantes ){ %>
                            <ul class="wrap">
                                <li><%= comp.cliente.razon_social %></li>
                                <li><%= comp.numero %></li>
                                <li><%= '$ ' + comp.valor %></li>
                                <li><%= comp.formatDate() %></li>
                            </ul>
                        <% }%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="infocliente">
                        <h3>Informaci&oacute;n de cuenta</h3>
                        <h2><span id="titulo_info">numero: </span> <%= viajante.numero %> </h2>
                        <h2><span id="titulo_info">nombre: </span> <%= viajante.nombre %></h2>
                        <h2><span id="titulo_info">teléfono: </span> <%= viajante.telefono %></h2>
                        <h2><span id="titulo_info">correo: </span> <%= viajante.email %> </h2>
                        <h2><span id="titulo_info">dirección: </span> <%= viajante.direccion %></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/clientes/footerClientes') %>
    <script src="/js/clientes/header.js"></script>
</body>

</html>