<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/headerClientes.css">
    <link rel="stylesheet" href="/css/footerClientes.css">
    <link rel="stylesheet" href="/css/clientes/panel.css">
    <link rel="stylesheet" href="/css/clientes/pagos.css">
</head>

<body>
    <%- include('../partials/clientes/headerClientes') %>
    <div class="container-fluid pagos">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titulo">
                        <h3> Informar un pago </h3>
                        <p>Estimado cliente, desde esta sección usted podrá informar sus pagos realizados, por favor
                            complete todos los datos antes de enviar el pedido.
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="cabecera wrap">
                        <h2>N° Factura</h2>
                        <h2>Monto</h2>
                        <h2>Banco</h2>
                        <h2>Fecha del pago</h2>
                        <h2>Nota</h2>
                        <h2>Comprobante</h2>
                    </div>
                    <div class="formulario">
                        <form class="wrap" action="/clientes/pagos" method="POST" enctype="multipart/form-data">
                            <select name="factura" id="">
                                <% comprobantes.forEach(comp => { %>
                                    <option value="<%= comp %>"><%= comp %></option>
                                <% }) %>
                            </select>
                            <input type="text" name="monto" id="" placeholder="Monto del pago">
                            <select name="banco" id="banco" required>
                                <option>Banco Nacion</option>
                                <option>Banco Provincia</option>
                                <option>Banco Credicoop</option>
                            </select>
                            <input type="date" name="fecha" id="">
                            <textarea name="mensaje" id="" rows="1" placeholder="Agregue una nota"></textarea>
                            <input type="file" name="archivo" id="">
                        <button type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="col-12">
                    <div class="volver">
                        <a href="/clientes/perfil" id="volver">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/clientes/footerClientes')  %> 
    <script src="/js/clientes/header.js"></script>
</body>

</html>