<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <meta name="googlebot" content="noindex">
    <meta name="robots" content="noindex">

    <link rel="stylesheet" href="/css/headerClientes.css">
    <link rel="stylesheet" href="/css/footerClientes.css">
    <link rel='stylesheet' href='/css/clientes/panel.css'/>
</head>

<body>
    <%- include('../partials/clientes/headerClientes') %>
    <!-- <div class="comunicacion contenedor-total">
        <div class="contenedor wrap">
            <h1>¡NUEVO CAT&Aacute;LOGO INTERACTIVO! Consulta stock / informaci&oacute;n y m&aacute;s!</h1>
            <a href="/catalogos">Ver Cat&aacute;logo</a>
        </div>
    </div> -->
    <section class="contenedor">
        <div class="deuda">
            <h3>Saldo de cuenta: <span><% if(saldo){%> <%= saldo.saldo %> <% } %></span></h3>
        </div>
        <div class="secciones">
            <div class="precios">
                <a href="/precios/"><img src="/images/secciones/listas.png" alt=""></a>
                <p>Lista de Precios</p>
            </div>
            <div class="catalogos">
                <a href="/catalogo/"><img src="/images/secciones/catalogo.png" alt=""></a>
                <p>Cat&aacute;logo Digital</p>
            </div>
            <div class="destacados">
                <a href="/destacados/"><img src="/images/secciones/destacados.png" alt=""></a>
                <p>Revista</p>
            </div>
            <div class="pedidos">
                <a href="/clientes/pedidos/"><img src="/images/secciones/pedidos.png" alt=""></a>
                <p>Mis pedidos</p>
            </div>
        </div>
    </section>
    <section class="contenedor_utilidades wrap">
        <div class="infocliente">
            <h3>Informaci&oacute;n de cliente</h3>
            <h2><span id="titulo_info">usuario: </span> <%= usuario %>  </h2>
            <h2><span id="titulo_info">número de cliente: </span> <%= cliente.numero %> </h2>
            <h2><span id="titulo_info">CUIT: </span> <%= cliente.cuit %> </h2>
            <h2><span id="titulo_info">correo: </span> <%= cliente.correo %> </h2>
            <h2><span id="titulo_info">Saldo de cuenta: </span> <% if(saldo){%> <%= saldo.saldo %> <% } %></h2>
        </div>
        <div class="operaciones">
            <h3>Operaciones de cuenta</h3>
            <a href="/clientes/comprobantes/"><strong>Movimientos Cuenta corriente</strong></a>
            <a href="/clientes/pagos/"><strong>Informar un pago</strong></a>
            <a href="/clientes/pedidos/"><strong>Estado de mi pedido</strong></a>
        </div>
        <div class="infocliente">
            <h3>Información de viajante</h3>
            <h2><span id="titulo_info">Número: </span> <%= cliente.viajante.numero %> </h2>
            <h2><span id="titulo_info">Nombre: </span> <%= cliente.viajante.nombre %> </h2>
            <h2><span id="titulo_info">Tefléfono: </span> <%= cliente.viajante.telefono %> </h2>
            <h2><span id="titulo_info">Email: </span> <%= cliente.viajante.email %> </h2>
        </div>
    </section>
    <%- include('../partials/clientes/footerClientes') %>
    <script src="/js/clientes/header.js"></script>
    <script src="/js/clientes/saldos.js"></script>
</body>

</html>